@import "../../Colores.scss";

.navbar-lite {
  position: sticky;
  top: 0;
  height: 58px;
  background-color: black;
  z-index: 1000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .navbar-title, .navbar-links, .navbar-social {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    >*{
      padding: 1.2em;
      box-sizing: border-box;
    }
  }
  .navbar-links {
    .navbar-item {
      transition: all 300ms;
      &:hover {
        background-color: $anaranjado;
        color: $blanco;
        text-shadow: 0 0 6px black;
      }
    }
  }

  @media(width <= 700px) {
    .navbar-links {
      display: none;
    }
  }

  .navbar-social {
    justify-content: flex-end;
    gap: 0;
  }
}
