@import "src/animations.scss";

.contacto {
  animation: blurredText 300ms linear forwards;
  padding-top: 1em;
  .toast-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}
