@import "../../animations";
.introduccion {
  width: 80%;
  margin: 1em auto 0 auto;
  position: relative;
  .introduccion-texto, .introduccion-imagen {
    h2 {
      align-self: center;
      font-size: 2em;
      margin: 1em 0;
    }
    ul {
      text-align: left;
      li {
        margin: 1em 0;
        line-height: 1.8em;
      }
    }
  }
  @media(max-width: 900px) {
    .introduccion-texto, .introduccion-imagen {
      h2 {
        font-size: 1.3em;
      }
    }
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    clip-path: inset(45% 20% 45% 20%);
  }
  to {
    opacity: 0.2;
    clip-path: inset(0% 0% 0% 0%);
  }
}
