
.hero {
  padding: 4em;
  background: -webkit-linear-gradient(#fff, #abf0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  h1 {
    font-size: 3.6em;
  }
  h2 {
    font-size: 2.2em;
  }
}
