.introduccion {
  margin: 1em auto 0 auto;
  position: relative;
  .introduccion-texto, .introduccion-imagen {
    h2 {
      align-self: center;
      font-size: 2em;
      margin: 1em 0;
    }
    ul {
      text-align: left;
      li {
        margin: 1em 0;
        line-height: 1.3em;
      }
    }
  }
}
