@import "../Colores";
.skillblock-popup {
  z-index: 100;
  padding: 0.4em;
  position: absolute;
  min-width: 164px;
  min-height: 32px;
  height: fit-content;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: $anaranjadoClaro;
  text-align: left;
  //pointer-events: none;

  a {
    text-decoration: none;
    &:link {
      color: $anaranjado;
    }
    &:visited {
      color: $anaranjado;
    }
  }
}

.habilidades-bloque {
  position: relative;
  width: 33%;
  @media(max-width: 1280px){
    width: 50%;
  }
  @media(max-width: 900px) {
    width: 100%;
  }
  .habilidades-bloque-encabezado {
    padding: 0.4em;
    border-left: 1px solid white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid white;
    border-right: 0.6em solid rgba(0,0,0,0);
    border-top: 0.6em solid rgba(0,0,0,0);
    >h2 {
      align-self: center;
      overflow: hidden;
      text-overflow: ellipsis;
      //flex-grow: 1;
    }
  }
  summary.habilidades-bloque-encabezado {
    min-height: 73px;
    >* {
      color: white;
    }
  }
  @media (max-width: 900px) {
    summary.habilidades-bloque-encabezado {
      border-right: 8px solid rgba(0, 0, 0, 0);
    }
  }
}

details[open] summary ~ * {
  animation: sweep 300ms ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0}
}
