@import "../../Colores";
.footer {
  background-color: $morado;
  .footer-blocks {
    margin-top: 64px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    //gap: 16px;


    .footer-subsection {
      display: flex;
      flex-flow: column nowrap;
      padding: 32px;
    }
    .footer-subsection:first-child {
      border-right: 1px dotted black;
    }
  }
  .footer-author {
    padding: 1em;
    border-top: 1px dotted black;
  }
}

