@import "../../Colores";
.footer {
  background-color: $moradoOscuro;
  .footer-blocks {
    margin-top: 64px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .footer-subsection {
      display: flex;
      flex-flow: column nowrap;
      padding: 32px;
      box-sizing: border-box;
      gap: 0.4em;
      small {
        font-size: 0.75em;
        font-weight: normal;
      }
    }
    .footer-subsection:first-child {
      border-right: 1px dotted black;
    }
  }
  .footer-author {
    padding: 1em;
    border-top: 1px dotted black;
  }
}

