@import "src/animations";
@import "src/Colores";

.habilidades {
  //width: 80%;
  padding-top: 3em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-bottom: 4em;

  .habilidades-grupo {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
  }

  .slidefrom-left {
    -webkit-animation-name: slideleft;
    -webkit-animation-duration: 200ms;
    -webkit-animation-timing-function: ease-in-out;
  }

  .slidefrom-right {
    -webkit-animation-name: slideright;
    -webkit-animation-duration: 200ms;
    -webkit-animation-timing-function: ease-in-out;
  }
}
