.habilidades {
  //width: 80%;
  padding-top: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  .habilidades-grupo {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    .habilidades-bloque {
      width: 33%;
      .habilidades-bloque-encabezado {
        border-left: 1px solid white;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        border-bottom: 1px solid white;
        border-right: 4em solid rgba(0,0,0,0);
        border-top: 0.6em solid rgba(0,0,0,0);
        >h2 {
          align-self: center;
          //flex-grow: 1;
          margin-left: 0.8em;
        }
      }
    }
  }

  .slidefrom-left {
    -webkit-animation-name: slideleft;
    -webkit-animation-duration: 200ms;
    -webkit-animation-timing-function: ease-in-out;
  }

  @keyframes slideleft {
    0% {
      margin: 0 auto 0 0;
    }
    99% {
      margin: 0 auto 0 10%;
    }
    100% {
      margin: 0 auto 0 auto;
    }
  }
  .slidefrom-right {
    -webkit-animation-name: slideright;
    -webkit-animation-duration: 200ms;
    -webkit-animation-timing-function: ease-in-out;
  }

  @keyframes slideright {
    0% {
      margin: 0 0 0 auto;
    }
    99% {
      margin: 0 10% 0 auto;
    }
    100% {
      margin: 0 auto 0 auto;
    }
  }
}
