@keyframes fromBelow {
  0% {margin-top: 100vh}
  100% {margin-top: 0}
}

@keyframes slideleft {
  0% {
    margin: 0 auto 0 0;
  }
  99% {
    margin: 0 auto 0 10%;
  }
  100% {
    margin: 0 auto 0 auto;
  }
}

@keyframes slideright {
  0% {
    margin: 0 0 0 auto;
  }
  99% {
    margin: 0 10% 0 auto;
  }
  100% {
    margin: 0 auto 0 auto;
  }
}

@keyframes appearRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appearBelow {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leaveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes leaveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes blurredText {
  0% {color: transparent; text-shadow: 0 0 0.2em white}
  100% {color: inherit; text-shadow: 0 0 0 white}
}
