@import "./Colores";

* {
  margin: 0;
  padding: 0;
}

.button {
  padding: 0.6em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 1px solid $morado;
  width: fit-content;
  cursor: pointer;
  background-color: rgba($azulSucio, 0.6);
  border-radius: 8px;
  transition: background-color 300ms;
}

.button:hover {
  background-color: $anaranjado;
  transition: background-color 300ms;
}
