$blanco: #fff;
$anaranjado: #F39C12;
$grisClaro: #EAEAEA;
$azulSucio: #717896;
$azulSucioBorde: #4B5064FF;

$morado: rgba(92,57,136,1);
$rosado: rgba(169,130,218,1);
$rosadoClaro: rgba(212,201,226,1);

